.text {
    background: -webkit-linear-gradient(#f00, #ff9a00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:-1px 0 black, 0 1px #f00, 1px 0 black, 0 4px #ff9a00 ;
}

h1 {
    background: -webkit-linear-gradient(#ff9a00, #f00);
    text-align: center;
}

#cart {
    display: flex;
    justify-content: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.column {
    width: 18%;
    padding: 25px 0px;
}

#images img {
    display: block;
    height: 100px;
    width: 100px;
    margin: 20px;
}

#songs li {
    display: block;
    font-size: 20px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
}

#lengthss li {
    display: block;
    font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
    color: red;
}

#linkss a {
    display: block;
    font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
    color: skyBlue;
}

#artistss li {
    display: block;
    font-size: 20px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
    color: green;
}

#form {
    width: 75%;
    margin: 0 auto 20px auto;
    font-size: 18px;
}

input {
    padding: 5px 10px;
    font-size: 14px;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

body {
    background-color: #fff6aa;
}
